<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	
	<%- include head.ejs %>

	<!-- USING PHANTOM TEMPLATE FOR DISPLAYING MENU ITEMS -->
		<body class="is-preload">
			<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
				<section id="main" class="wrapper style3">
					<div class="title">View Trends</div>
					<div class="container">
						<div class="feature-list">
                            <div class="row">
                                <div class="col-12 aln-center">
                                    <div class="row">
                                        <h1>Dish Popularity:</h1>
                                    </div><br>
                                    <% for(var i = 0; i < dishes.length; i++){ %>
                                    <% if (i % 2 == 0){ %>
                                    <div class="row">
                                    <% } %>
                                        <div class="col-6" align="center">
                                            <button class="style3" onclick="window.location.href = '/predict-dish?dish=<%=dishes[i]._id %>';"><%=dishes[i].title %></button> 
                                        </div>
                                    <% if (i % 2 == 1){ %>
                                        </div><br>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 aln-center">
                                    <div class="row">
                                        <h1>Ingredient Prediction:</h1>
                                    </div><br>
                                    <% for(var i = 0; i < ingredients.length; i++){ %>
                                    <% if (i % 3 == 0){ %>
                                    <div class="row">
                                    <% } %>
                                        <div class="col-4" align="center">
                                            <button class="style3" onclick="window.location.href = '/predict-ingredients?ingredient=<%=ingredients[i] %>';"><%=ingredients[i] %></button> 
                                        </div>
                                    <% if (i % 3 == 2){ %>
                                        </div><br>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
						</div>
					</div>
				</section>
			</div>

			<!-- PHANTOM Scripts -->
			<script src="assets_phantom/js/jquery.min.js"></script>
			<script src="assets_phantom/js/browser.min.js"></script>
			<script src="assets_phantom/js/breakpoints.min.js"></script>
			<script src="assets_phantom/js/util.js"></script>
			<script src="assets_phantom/js/main.js"></script>

		</body>
</html>