<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%- include head.ejs %>

<!-- Seerat worked on this -->

	<!-- USING PHANTOM TEMPLATE FOR DISPLAYING MENU ITEMS -->
	<link rel="stylesheet" href="assets_phantom/css/main.css" />
	<noscript><link rel="stylesheet" href="assets_phantom/css/noscript.css" /></noscript>
		<body class="is-preload">
			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Main -->
						<div id="main">
							<div class="inner">

								<!-- DISPLAY 3 APPETIZERS -->
								<header> 
									<br>
									<h1><a href="/appetizers">Appetizers</a><br /></h1>
								</header>
								<section class="tiles">
									<!-- DISPLAYS MENU USING TILES -->
									<% for(var i = 0; i < 3; i++){ %>
										<!-- DISPLAYS MENU USING TILES -->
										<article class="style5">
											<span class="image">
												<img src=<%="../public/images/menu/"+appetizers[i].filename%> alt="" style="width:auto;height:325px;"/>
											</span>
											<a href="#">
												<div class="content style3">
													<h2 style="color:#FFFFFF;"><%=appetizers[i].title%></h2>
													<p><%=appetizers[i].description%> <br>
													$<%=appetizers[i].price%></p>

													<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
													<% if (checkCartApps[i]== true) { %>
													<p class="icon fa-cart-plus"></p>
													<% } %>

													<form action=<%="api/add-to-cart/"+appetizers[i]._id.toString()%> method="get">
  														<button type="submit">Add</button>
													</form> 											
												</div>
											</a>
										</article>

									<% } %>
								</section>

								<!-- DISPLAY 3 ENTREES-->
								<header> 
									<br>
									<h1><a href="/entrees">Entrees</a><br /></h1>
								</header>
								<section class="tiles">
									<% for(var i = 0; i < 3; i++){ %>
										<!-- DISPLAYS MENU USING TILES -->
										<article class="style5">
											<span class="image">
												<img src=<%="../public/images/menu/"+entrees[i].filename%> alt="" style="width:auto;height:325px;"/>
											</span>
											<a href="#">
												<div class="content style3">
													<h2 style="color:#FFFFFF;"><%=entrees[i].title%></h2>
													<p><%=entrees[i].description%> <br>
													$<%=entrees[i].price%></p>

													<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
													<% if (checkCartEntrees[i]== true) { %>
													<p class="icon fa-cart-plus"></p>
													<% } %>

													<form action=<%="api/add-to-cart/"+entrees[i]._id.toString()%> method="get">
  														<button type="submit">Add</button>
													</form> 
												</div>
											</a>
										</article>

									<% } %>
								</section>

								<!-- DISPLAY 3 DESSERTS -->
								<header> 
									<br>
									<h1><a href="/desserts">Desserts</a><br /></h1>
								</header>
								<section class="tiles">
									<% for(var i = 0; i < 3; i++){ %>
										<!-- DISPLAYS MENU USING TILES -->
										<article class="style5">
											<span class="image">
												<img src=<%="../public/images/menu/"+desserts[i].filename%> alt="" style="width:auto;height:325px;"/>
											</span>
											<a href="#">
												<div class="content style3">
													<h2 style="color:#FFFFFF;"><%=desserts[i].title%></h2>
													<p><%=desserts[i].description%> <br>
													$<%=desserts[i].price%></p>

													<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
													<% if (checkCartDesserts[i]== true) { %>
													<p class="icon fa-cart-plus"></p>
													<% } %>

													<form action=<%="api/add-to-cart/"+desserts[i]._id.toString()%> method="get">
  														<button type="submit">Add</button>
													</form> 
												</div>
											</a>
										</article>

									<% } %>
								</section>

								<!-- DISPLAY 3 DRINKS -->
								<header> 
									<br>
									<h1><a href="/drinks">Drinks</a><br /></h1>
								</header>
								<section class="tiles">
									<% for(var i = 0; i < 3; i++){ %>
										<!-- DISPLAYS MENU USING TILES -->
										<article class="style5">
											<span class="image">
												<img src=<%="../public/images/menu/"+drinks[i].filename%> alt="" style="width:auto;height:325px;"/>
											</span>
											<a href="#">
												<div class="content style3">
													<h2 style="color:#FFFFFF;"><%=drinks[i].title%></h2>
													<p><%=drinks[i].description%> <br>
													$<%=drinks[i].price%></p>

													<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
													<% if (checkCartDrinks[i]== true) { %>
													<p class="icon fa-cart-plus"></p>
													<% } %>

													<form action=<%="api/add-to-cart/"+drinks[i]._id.toString()%> method="get">
  														<button type="submit">Add</button>
													</form> 
												</div>
											</a>
										</article>

									<% } %>
								</section>
							</div>
						</div>

				</div>

			<!-- PHANTOM Scripts -->
				<script src="assets_phantom/js/jquery.min.js"></script>
				<script src="assets_phantom/js/browser.min.js"></script>
				<script src="assets_phantom/js/breakpoints.min.js"></script>
				<script src="assets_phantom/js/util.js"></script>
				<script src="assets_phantom/js/main.js"></script>
		</body>
</html>