<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Adam Menu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--
		<link rel="stylesheet" href="assets_phantom/css/main.css" />
		<noscript><link rel="stylesheet" href="assets_phantom/css/noscript.css" /></noscript>
		-->
	</head>

	<!-- USING ESCAPE VELOCITY TEMPLATE FOR LOGO AND NAVBAR--> 
	<link rel="stylesheet" href="assets_escape_velocity/css/main.css" />
		<body class="homepage is-preload">
			<div id="page-wrapper">

				<!-- Header -->
					<section id="header" class="wrapper">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/">Codename Adam</a></h1>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li>
										<a href="/menu">Menu</a>
										<ul>
											<li><a href="/popular-dishes">Most Popular</a></li>
											<li><a href="/appetizers">Appetizers</a></li>
											<li><a href="/entrees">Entrees</a></li>
											<li><a href="/drinks">Drinks</a></li>
											<li><a href="/desserts">Desserts</a></li>
										</ul>
									</li>
									<li><a href="/recommend-me">Recommend Me</a></li>
									<li><a href="/cart">Cart</a></li>
									<li><a href="/reserve">Reserve</a></li>
									<li><a href="#">Your Profile</a></li>
								</ul>
							</nav>

					</section>
			</div>

			<!-- Scripts -->
				<script src="assets_escape_velocity/js/jquery.min.js"></script>
				<script src="assets_escape_velocity/js/jquery.dropotron.min.js"></script>
				<script src="assets_escape_velocity/js/browser.min.js"></script>
				<script src="assets_escape_velocity/js/breakpoints.min.js"></script>
				<script src="assets_escape_velocity/js/util.js"></script>
				<script src="assets_escape_velocity/js/main.js"></script>

		</body>


	<!-- USING PHANTOM TEMPLATE FOR DISPLAYING MENU ITEMS -->
	<link rel="stylesheet" href="assets_phantom/css/main.css" />
	<noscript><link rel="stylesheet" href="assets_phantom/css/noscript.css" /></noscript>
		<body class="is-preload">
			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Main -->
						<div id="main">
							<div class="inner">
								<header> 
									<br>
									<h1>Most Popular Dishes<br /></h1>
								</header>
								<section class="tiles">
							
									<% for(var i = 0; i < menuItems.length; i++){ %>
										<!-- DISPLAYS MENU USING TILES -->
										<article class="style5">
											<span class="image">
												<img src=<%="../public/images/menu/"+menuItems[i].filename%> alt="" style="width:auto;height:325px;"/>
											</span>
											<a href="#">
												<div class="content style3">
													<h2 style="color:#FFFFFF;"><%=menuItems[i].title%></h2>
													<p><%=menuItems[i].description%> <br>
													$<%=menuItems[i].price%></p>

													<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
													<% if (checkCart[i]== true) { %>
													<p class="icon fa-cart-plus"></p>
													<% } %>

													<form action=<%="api/add-to-cart/"+menuItems[i]._id.toString()%> method="get">
  														<button type="submit">Add</button>
													</form> 
												</div>
											</a>
										</article>

									<% } %>

								</section>
							</div>
						</div>

				</div>

			<!-- PHANTOM Scripts -->
				<script src="assets_phantom/js/jquery.min.js"></script>
				<script src="assets_phantom/js/browser.min.js"></script>
				<script src="assets_phantom/js/breakpoints.min.js"></script>
				<script src="assets_phantom/js/util.js"></script>
				<script src="assets_phantom/js/main.js"></script>

		</body>
</html>