<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%- include head.ejs %>

	<!-- Seerat worked on this -->

	<!-- USING PHANTOM TEMPLATE FOR DISPLAYING MENU ITEMS -->
	<link rel="stylesheet" href="assets_phantom/css/main.css" />
	<noscript><link rel="stylesheet" href="assets_phantom/css/noscript.css" /></noscript>
		<body class="is-preload">
			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Main -->
						<div id="main">
							<div class="inner">
								<header> 
									<br>
									<center><h1>Your Personalized Recommendations...<br /></h1></center>
								</header>
								<div class="container">
									<div class="col-4">
										<center>
										<% if (meals.length == 0) { %>
											<form action="/rec-quiz" method="get">
												<button type="submit" class="style3">Take Quiz</button>
											</form> 
										<% } else { %>
											<form action=<%="/api/recommend-me/"+customerID.toString()%> method="get">
												<button type="submit" class="style3">Recommend Me</button>
											</form> 
											<form action="/recommend-me" method="get">
												<button type="submit" class="style3">View More</button>
											</form> 
										<% } %>
										</center>
									</div>
									<% if (meals.length == 0) {%>
											<center>
												<p class="style1">
													Thank you for making an account! <br>
													Let's get started by selecting the "Take Quiz" button. <br>
													Returning users will not be required to take the quiz. <br>
													Instead, you can update your meal recommendations based on previous order history! <br>
													After taking the quiz, your meal recommendations will appear and the "Recommend Me" button will be present. 
												</p>
											</center>
									<% } else {%>
								</div>

								<section class="tiles">
										<% for(var i = 0; i < meals.length; i++){ %>
											<!-- DISPLAYS MENU USING TILES -->
											<article class="style5">
												<span class="image">
													<img src=<%="../public/images/menu/"+meals[i].filename%> alt="" style="width:auto;height:325px;"/>
												</span>
												<a href="#">
													<div class="content style3">
														<h2 style="color:#FFFFFF;"><%=meals[i].title%></h2>
														<p><%=meals[i].description%> <br>
														$<%=meals[i].price%></p>

														<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
														<% if (checkCart[i]+"" == true+"") { %>
														<p class="icon fa-cart-plus"></p>
														<% } %>	

														<!-- CART ICON APPEARS ONLY IF ITEM ALREADY IN CART -->
														<% if (checkPrevOrd[i]+"" == true+"") { %>
														<p class="icon fa-utensils"></p>
														<% } %>														

														<form action=<%="api/add-to-cart/"+meals[i]._id.toString()%> method="get">
	  														<button type="submit">Add</button>
														</form> 
													</div>
												</a>
											</article>

										<% } %>

								</section>
									<% } %>
							</div>
						</div>

				</div>

			<!-- PHANTOM Scripts -->
				<script src="assets_phantom/js/jquery.min.js"></script>
				<script src="assets_phantom/js/browser.min.js"></script>
				<script src="assets_phantom/js/breakpoints.min.js"></script>
				<script src="assets_phantom/js/util.js"></script>
				<script src="assets_phantom/js/main.js"></script>

		</body>
</html>